* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  /* variables */
  --inactive-border: rgba(255, 255, 255, 0.08);
  --active-border: rgba(255, 255, 255, 0.16);
  --color: #EBEBEB;
  --fill: #333333;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}